# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.eggs/
test.py

# Environments
.venv/
venv/
env/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing / Coverage
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# OS
.DS_Store
Thumbs.db

# PyPI
.pypirc
